
 nav{
  background-color: Black;
  color: white;
 }
 nav ul{
  display: flex;
  gap: 34px;
  list-style: none;
 }
 li{
  list-style: none;
  padding: 23px;
 }
 li a{
  color: white;
 }
*{
  padding: 0;
  margin: 0;

}